* {
  font-family: 'Play', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  padding: 0.25em;
}

h2, h3 {
  padding: 0.65em;
  font-size: 1.5em;
  text-align: center;
}

p {
  padding-bottom: 1em;
  font-size: 1.5em;
}

.add-product-section-form-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 0.25em;
}

.add-product-section-form-container {
  display: flex;
  column-gap: 0.6em;
}

.add-product-section-container {
  margin: 10px 0;
}

/* .add-product-section-form {
  margin: 0 10px;
} */

.add-product-section-form > div > label {
  display: inline-block;
  min-width: 6em;
}

.add-product-section-form-result {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  flex-grow: 1;
}

.btn-confirm {
  background-color: #04f;
  border: 3px solid #666;
  border-radius: 10px;
  color: #eee;
  font-size: 1rem;
  line-height: 2.5em;
  padding: 0 20px;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.btn-confirm:hover {
  background-color: #07f;
  color: #ff0;
  cursor: pointer;
  filter: brightness(1.2);
}

.btn-confirm:active {
  color: #eee;
  filter: brightness(0.8);
  transform: scale(0.975);
}

.cart {
  display: flex;
  flex-wrap: wrap;
}

.cart, .products {
  display: flex;
  flex-wrap: wrap;
}

.cart > div {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0.5em;
  padding: 1em 2em;
}

.cart-container {
  display: flex;
}

.checkout {
  margin-bottom: 4em;
}

.checkout-container {
  max-width: 15em;
  padding: 0 1em 2em;
  background: #efefef;
}

.currency-select {
  font-size: 2em;
  background-color: #006;
}

/*
  by default, it's an empty container for the .currency-select element, which
  is created dynamically
*/
.currency-selector {
  display: inline-block;
  padding: 20px;
}

.empty {
  margin: 1em;
}

.panel-back {
  border: 21px solid;
  border-image: url(../images/ui/box-9-blue.webp) 21 fill;
  color: white;
}

.panel-header {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-bottom: 1em;
}

.pay {
  margin-bottom: 1em;
}

.product {
  text-align: center;
}

.products > div {
  background: #f5f5f5;
  margin: 1em;
  color: white;
  padding: 2em;
}

.products > div h3 {
  font-weight: 800;
}

.products > div img {
  max-width: 150px;
  height: auto;
}

.products-container {
  width: 100%;
  max-width: 55em;
  /* padding: 2em; */
}

.received {
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.5em;
  margin-bottom: 1em;
  padding: 0.3em;
  vertical-align: middle;
  width: 100%;
}

.shopping-cart {
  background-image: url(../images/ui/town-bg.webp);
}
